*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: url("image.png");
    background-size: cover;
    background-repeat:no-repeat;
}
h1{
    color: antiquewhite;
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
}
.input-container input,select{
    width: 17%;
    font-size: 1rem;
    padding: 0.5vw;
    border: 1.5px solid black;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.45);
}
.input-container option{
    background-color: rgba(0,0,0,0.6);
}
input::placeholder{
    color: black;
    opacity: 0.8;
}
.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.input-container form{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.input-container{
    margin:2.5vw 2vw;
    background-color: rgb(222, 184, 135,0.4);
    padding: 3vw;
    font-size: 1.35rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.75);
    border-radius: 2vw;
}

.addbtn{
    width: 6%;
    font-size: 1rem;
    padding: 0.5vw;
    background-color: rgba(0,0,0,0.45);
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: hover ease 0.3s;
}

.addbtn:hover{
    background-color: rgba(0,0,0,0.75);
    color: antiquewhite;
}

.deletebtn{
    position: absolute;
    left: 77%;
    bottom: 4%;
    font-size: 1rem;
    padding: 0.4vw;
    background-color: rgba(0,0,0,0.45);
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    transition: hover ease 0.3s;
    
}

.deletebtn:hover{
    background-color: rgba(0,0,0,0.75);
    color: antiquewhite;
}

.container h2{
    text-align: center;
    color:  rgb(59, 52, 40);
    text-decoration: underline;
    text-shadow:rgba(0,0,0,0.75);
    font-weight: 800;

}

table {
  border-collapse: collapse;
  border: 2px solid ;
  font-family: sans-serif;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 2vw 2vw;
  background-color: rgb(222, 184, 135,0.4);;
  border-radius: 4px;
  padding: 2vw;
}

th,
td {
  border: 2px solid black;
  padding: 8px 10px;
  font-size: 1.1rem;
  font-weight: bold;
}
tfoot th{
    border: none;

}
