*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url("image.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin: 3vw auto;
    align-items: center;
    gap: 3.5vw;
}
.inputfield,.loading{
    padding: 2vw;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 2px 4px 16px rgba(0,0,0,0.6);
    border-radius: 1.3vw;
    display: flex;
    position: relative;
    justify-content: center;
}
.inputfield input{
    width: 80%;
    padding: 1.2vw;
    font-size: 1rem;
    border: 2px solid whitesmoke;
    position: static;
    background: transparent;
    border-radius: 3vw;
}
.inputfield input::placeholder{
    color: whitesmoke;
    font-size: 1rem; ;
    font-weight: 500;
}
.searchbtn{
    position: absolute;
    top: 50.1%;
    right: 4.53vw;
    transform: translateY(-50%);
    font-size: 1.05rem;
    color: whitesmoke;
    padding: 1.1vw;
    background-color: transparent;
    border: none;
    border-radius: 3vw;
    cursor: pointer;
}
.searchbtn:hover{
    color: rgb(61, 59, 59);
    background-color: whitesmoke;
    box-shadow: rgba(63,60,60,0.6,1);
}
.climate-info{
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 2px 4px 16px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 1vw;
    gap: 1vw;
    padding: 5%;
    color: whitesmoke;
}
.location-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.weather-info{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 1.2rem;
}
.weather-info img{
    width: 100%;
    height: 100%;
}

.container p{
    font-size: 1.2rem;
}
.location-info img{
    width: 25px;
    height: 25px;
    background-image: url("location-2952(1).png");
    background-size: cover;   
}


@media (max-width:750px) {
    .container{
        width: 75vw;
    }
    .container h1{
        font-size: 2.8rem;
    }
    .container p{
        font-size: 1.42rem;
    }
    .inputfield input::placeholder{
    color: whitesmoke;
    font-size: 1.3rem;
    }
    .searchbtn{
     right: 9.25vw;
}
}
@media (max-width:1200px) and(min-width:751px){
    .container{
        width: 50vw;
    }
    .searchbtn{
     right: 9.25vw;
}
}